/*working code*/
.navbar{
    background-color:lavender !important;
}

.navbar .navbar-brand {
    color:#af7ac5;
}

.navbar .navbar-brand:hover{
    color:#45bc9d; 
}

.nav-link{
    color:#af7ac5 !important;
}
/*still working on functionality here*/
.nav-item .nav-link:hover{
    color:#45bc9d;
}

h1{
    padding-left:5px;
    font-family: 'Montserrat', sans-serif;
    color:#9C92AD;
}

#paris{
    height:200px;
    width:200px;
}

.form-group{
    font-family: 'Montserrat', sans-serif;
    color:#af7ac5;
}

.btn-primary{
    background-color:#af7ac5 !important;
    border-color:#af7ac5 !important;
}
.btn-primary:hover{
    background-color: #45bc9d !important;
}

